---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Elvis OHIN" description="About Elvis OHIN Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À Propos de Moi"
				tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
                    <h5>Gestion de la comptabilité</h5>
                    <p>Avril 2017 à Avril 2017</p>
                    <p>Tunzini, Limoges</p>
                    <p>Ma responsabilité principale incluait le traitement des factures et la gestion de la comptabilité, essentiels pour maintenir la santé financière de l'entreprise. J'étais également en charge de la gestion et du suivi des stocks, surveillant attentivement les entrées et les sorties de l'entrepôt. De plus, j'assurais le suivi des coûts associés afin de garantir une gestion financière efficace.</p>

                </div>
                <div class="content">
                    <h5>Développeur</h5>
                    <p>Limoges Habitat, Limoges</p>
                    <p>De mai 2021 à juin 2021 et de janvier 2022 à février 2022.</p>
                    <p>Dans le cadre de mes responsabilités, j'ai conçu un script en Python dédié à la génération de fichiers XML. Ce script a permis d'automatiser le processus de création de ces fichiers, garantissant ainsi précision et efficacité. En utilisant des bibliothèques Python spécialisées et en appliquant les meilleures pratiques de programmation, j'ai pu développer une solution robuste et fiable, qui a grandement contribué à l'optimisation des workflows au sein de l'entreprise.</p>
				</div>
                <div class="content">
                    <h5>Développeur</h5>
                    <p>3310Street, Limoges</p>
                    <p>De janvier 2022 à février 2022</p>
                    <p>Au cours de mon expérience, j'ai eu l'opportunité de développer plusieurs sites web en utilisant divers frameworks, tels que Symfony et CodeIgniter. Cette expérience m'a permis d'acquérir une compréhension approfondie des fonctionnalités et des avantages de chaque framework, et de choisir le plus adapté en fonction des besoins spécifiques du projet. De plus, j'ai été chargé de résoudre divers bugs sur des sites développés en PHP, ce qui m'a permis de renforcer mes compétences en débogage et d'assurer la performance et la fiabilité des sites web sur lesquels j'ai travaillé.</p>
                </div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>BTS Services informatiques aux organisations</p>
                    <p>Bachelor Développement Logiciel et Web</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
                    <p>Développement Web : Maîtrise de HTML, CSS, JavaScript et des frameworks React et Angular</p>
                    <p>Développement Mobile : Création d'applications natives pour Android et iOS, maîtrise de Flutter et React Native</p>
                    <p>Gestion de Projet : Conduite efficace de projets informatiques de la conception à la livraison, application de Scrum</p>
                    <p>Base de Données : Conception et gestion de bases de données relationnelles et non relationnelles, optimisation des performances</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
    <canvas id="waves"></canvas>
</BaseLayout>
<script>
    import "../js/wave.js";
</script>
<style lang="scss">
    $waves-opacity: 0.5;

    @keyframes fadeInWaves {
      0% { opacity: 0 }
      100% { opacity: $waves-opacity }
    }

    canvas#waves {
      width: 100%;
      height: 100vh;
      animation: fadeInWaves 2s;
      z-index: -1;
      background: transparent;
      opacity: $waves-opacity;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      overflow: hidden;
      pointer-events: none;
    }
</style>
<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
